/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  margin: 0;
  padding: 0;
}

/* get rid of the scrolling from pressing arrowkeys */
canvas{
  display: block;
}
